@charset "UTF-8";
/**
  * Patrón 7-1
  *
  * Esta es la estructura del patrón 7-1 utilizado en DesafíoLatam
  * para la enseñanza del uso correcto de patrones dentro de CSS y
  * también para la utilización de éste dentro de estructuras de 
  * trabajo colaborativo.
  *
  * @author Cristóbal Domínguez <cristobald@me.com>
  * @since 1.0
  *
  */
/*
 *
 * La carpeta abstracts/ reune todas las herramientas de SASS para el proyecto.
 * Cada variable global, función, mixin o placeholder debería estar aquí dentro.
 * 
 * La regla de oro para esta carpeta es que no deberá imprimir ni una sola línea
 * de código en el momento de la compilación del CSS. Nada como los helpers de Sass.
 * 
 * Cuando se trabaja en un proyecto muy grande con muchos archivos abstracts, podría
 * ser más interesante agruparlos por tópicos en vez de por tipo. Un ejemplo sería
 * crear las instancias typography (_typography.scss), theming (_theming.scss), etc.
 * Cada archivo contendría todos los helpers relacionados a esa instancia: variables, 
 * functions, mixins y placeholders. Hacerlo así podría hacer el código más sencillo de 
 * de mantener, especialmente cuando los archivos empiezan a crecer mucho.
 * 
 * Nota:
 * La carpeta abstracts/ podría llamarse utilities/ o helpers/, dependiendo de lo que
 * se prefiera.
 *
 * @author Cristóbal Domínguez <cristobald@me.com>
 * @since 1.0
 *
 */
/*
 *
 * La mayoría de los proyectos tienen una carpeta vendors/ que contiene
 * todos los archivos CSS de librerías externas y frameworks – Normalize,
 * Bootstrap, jQuery, jQueryUI, Flickity, Flexslider y así sucesivamente.
 * Agregando estos en una carpeta aparte podría ser una buena forma de 
 * decir: “Hey, esto no es mío, no es mi código, no es mi responsabilidad”.
 *
 * @author Cristóbal Domínguez <cristobald@me.com>
 * @since 1.0
 *
 */
/*
 *
 * Este archivo contiene las referencias del código boilerplate de tu proyecto.
 * Aquí podrás encontrar referencias al archivo _reset.scss, a las tipografías
 * y probablemente algún otro archivo de estilos que defina de una forma estándard
 * los estilos de elementos usados en HTML.
 *
 *
 * Nota: 
 * Si tu proyecto usa muchas animaciones, deberías considerar agregar dentro de
 * esta carpeta un archivo /_animations.scss que contenga las definiciones de los
 * @keyframes de todas tus animaciones.
 *
 * @author Cristóbal Domínguez <cristobald@me.com>
 * @since 1.0
 *
 */
body {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

/*
 *
 * Esta carpeta contiene todo lo que hace relación con el sitio web o la aplicación.
 * Aquí encontrarás los estilos para las partes principales del sitio (header, footer, 
 * navigation, sidebar, etc), el sistema de grillas o incluso los estilos de los formularios
 *
 *
 * Nota:
 * La carpeta layout/ también podría ser llamada partials/, dependiendo de la 
 * preferencia del desarrollador.
 *
 * @author Cristóbal Domínguez <cristobald@me.com>
 * @since 1.0
 *
 */
.main_nav {
  padding: 1em;
}
.main_nav__logo {
  background: url("../images/logo.jpg") no-repeat center/100% auto transparent;
  display: block;
  float: left;
  width: 95px;
  height: 88px;
  text-indent: -10000000px;
}
.main_nav__list {
  display: none;
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
  margin-right: 5em;
  margin-top: 2em;
}
.main_nav__item {
  padding: inherit;
}
.main_nav__link {
  text-decoration: none;
  color: #0C0910;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 20px;
  padding-left: 2em;
}
.main_nav__icon {
  text-align: right;
  width: 100%;
}
.main_nav .open {
  display: block;
}

@media all and (min-width: 768px) {
  .main_nav__list {
    display: block;
    text-align: right;
  }
  .main_nav__icon {
    display: none;
  }
  .main_nav__item {
    display: inline-block;
    padding: 0.2em;
    border-bottom: none;
  }
}
.main_content {
  display: grid;
  grid-template-columns: 1fr 0.1fr 1fr;
  grid-template-rows: repeat(3, 1fr);
  align-items: start;
}
.main_content__title {
  font-family: "Old Standard TT", serif;
  font-size: 50px;
  text-transform: uppercase;
  line-height: 20px;
}
.main_content__text p {
  width: 50%;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 30px;
  color: #646266;
}
.main_content__button {
  background-color: transparent;
  border: 1px solid #0C0910;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: large;
  padding: 1rem 1.5rem;
}
.main_content__button a {
  color: #0C0910;
  text-decoration: none;
}

.item-1 {
  margin-left: 5em;
  margin-bottom: 4em;
  grid-column: 1/2;
  grid-row: 1/2;
}

.item-2 {
  grid-column: 3/3;
  grid-row: 1/3;
}

.item-3 {
  padding-left: 5rem;
  padding-bottom: 4rem;
  grid-column: 1/2;
  grid-row: 2/3;
}

.item-4 {
  grid-column: 2/3;
  grid-row: 2/3;
}

@media all and (max-width: 576px) {
  .main_content {
    display: inline-grid;
    grid-template-columns: 1fr 0.1fr;
    grid-template-rows: auto;
    align-items: start;
  }
  .main_content__title {
    font-size: 30px;
  }
  .main_content__text p {
    width: 80%;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    line-height: 30px;
    color: #646266;
  }

  .item-1 {
    margin-left: 2em;
    grid-column: 1;
    grid-row: 2;
  }

  .item-2 {
    margin-top: 3rem;
    grid-column: 1/3;
    grid-row: 1;
  }

  .item-3 {
    padding: 1em;
    grid-column: 1;
    grid-row: 3;
  }

  .item-4 {
    grid-column: 2;
    grid-row: 3;
  }
}
@media all and (max-width: 992px) {
  .main_content {
    display: inline-grid;
    grid-template-columns: 1fr 0.1fr;
    grid-template-rows: auto;
    align-items: start;
  }
  .main_content__title {
    font-size: 30px;
  }
  .main_content__text p {
    width: 80%;
    font-family: "Raleway", sans-serif;
    font-size: 30px;
    line-height: 30px;
    color: #646266;
  }
  .main_content__bigimage {
    background-image: url(../images/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  img {
    display: none;
  }

  .item-1 {
    margin-left: 2em;
    grid-column: 1;
    grid-row: 2;
  }

  .item-2 {
    margin-top: 3rem;
    grid-column: 1/3;
    grid-row: 1;
    height: 80vh;
  }

  .item-3 {
    padding: 1em;
    grid-column: 1;
    grid-row: 3;
  }

  .item-4 {
    grid-column: 2;
    grid-row: 3;
  }
}
.footer {
  background-color: #0C0910;
  color: #ffffff;
}
.footer h3 {
  font-family: "Old Standard TT", serif;
  font-size: 30px;
}
.footer p {
  display: block;
  font-family: "Old Standard TT", serif;
  font-size: 16px;
}
.footer__input {
  width: 28%;
  padding-left: 1rem;
}
.footer__submit {
  margin-top: 5em;
  background-color: transparent;
  border: none;
  font-family: "Old Standard TT", serif;
  font-size: 18px;
  font-weight: 700;
  transform: rotate(90deg);
}
.footer__submit:hover {
  border: none;
}

@media all and (max-width: 576px) {
  .footer__input {
    width: 85%;
    padding: 1rem;
  }
}
/*
 * 
 * Esta carpeta fue creada para componentes o módulos pequeños como por ejemplo: 
 * sliders, loaders, widgets, etc. A diferencia de la carpeta layout/ donde almacenaremos
 * los componentes que definan el wireframe del sitio/aplicación, aquí encontraremos
 * componentes que aportarán más contenido que una estructura visual.
 * 
 * Usualmente deberían haber muchos archivos en components/ debido a que los 
 * sitios/aplicaciones se empezaron a crear en base a pequeños módulos de código.
 * 
 * Nota:
 * Esta carpeta también se podría llamar modules/, dependiendo de cómo tu la prefieras.
 *
 * @author Cristóbal Domínguez <cristobald@me.com>
 * @since 1.0
 *
 */

/*# sourceMappingURL=main.css.map */
